body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    margin: 0;
}

.title-box {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: black;
    margin: 0;
}

.container {
    display: flex;
    gap: 10px;
    width: 80%;
    max-width: 400px;
    justify-content: center;
    margin-bottom: 10px;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
}

.mastery-settings, .sub-level-settings {
    flex-grow: 1;
}

.timer {
    font-size: 1.5em;
    color: black;
    flex-grow: 2;
}

.general-timer {
    font-size: 1.5em;
    color: black;
    flex-grow: 1;
}

.mastery-settings label, .mastery-settings select, .sub-level-settings label, .sub-level-settings select {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.buttons {
    display: flex;
    gap: 5px;
}

.button {
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
    flex-grow: 1;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3e8e41;
}
